doctype html
html(lang='en')
  != partial("_shared/header")
  body
    .loading
    //- navigation
    != partial("_shared/nav")
    //- container
    .container.is-fullhd
      //- jumbotron
      //- != partial("_shared/maintenance")
    //- container
    .container.primary
      .columns.m-0
        .column
          //- p.bd-notification.is-danger Second column
          .columns
            .column
              //- p.bd-notification.is-danger 50%
              //- article content
              section.section
                .container.article-container.is-full-hd
                  .content.article-content
                    if !imported
                      h1 #{content_title}
                    if content_date && content_time
                      p Published at #{content_date}, #{content_time}
                      hr
                    if description && !imported
                      p #{description}
                    != yield
            .column.is-one-quarter.is-mobile
              //- section.section
              //-   .content.has-text-left
              //-     .gcse-search
              section.section
                .content.has-text-left
                  //- p.bd-notification.is-danger Auto
                  //- h1 Quick Links
                  h2 Recent
                  ol(type='1')
                    - var count = 0
                    - var seeMore = false
                    each article, slug in public.article._data
                      if (count < 3)
                        - count++
                        li
                          a(href="#{ rootPath }/article/#{ slug }") #{ article.content_title }
                          //- p.
                          //-   Published #{ article.content_date }, #{ article.content_time }
                          //-   (#{ time_format })
                      else
                        if !seeMore
                          - seeMore = true
                          br
                          a(href="#{ rootPath }/articles") See more..
                  //- h2 Tags
                  //- ol(type='1')
                  //-   li Coming Soon
                  //- h2 Recommended
                  //- ol(type='1')
                  //-   li Coming Soon
    //- footer
    != partial("_shared/footer")

