doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title JCC Blog
    meta(name='description' content='Software Developer')
    meta(name='keywords' content='blog, web, mobile-friendly, static-page, html5, github-pages')
    meta(name='author' content='John Cyrill Corsanes')
    meta(property='og:title' content='JCC Blog')
    meta(property='og:image' content='https://jcchikikomori.github.io/portfolio/img/jcc_logo.jpg')
    meta(property='og:url' content='https://jcchikikomori.github.io/blog')
    meta(property='og:site_name' content='JCC Blog')
    meta(property='og:description' content='JCC Blog Site')
    meta(name='twitter:title' content="JCC's Blog")
    meta(name='twitter:image' content='https://jcchikikomori.github.io/portfolio/img/jcc_logo.jpg')
    meta(name='twitter:url' content='https://jcchikikomori.github.io/blog')
    meta(name='twitter:card' content='portfolio')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
        integrity='sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
        integrity='sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==' crossorigin='anonymous')
    link(rel="stylesheet" href="#{rootPath}/assets/scss/main.css")
  body
    .loading
    //- navigation
    != partial("_shared/nav")
    //- container
    .container.is-fullhd
      //- jumbotron (TODO: Not yet done though)
      != partial("_shared/maintenance")
    //- container
    .container
      .columns.m-0
        .column
          //- p.bd-notification.is-danger Second column
          .columns
            .column
              //- p.bd-notification.is-danger 50%
              //- article content
              section.section
                .container.is-full-hd
                  .content
                    != yield
            .column.is-one-quarter.is-mobile
              section.section
                .content.has-text-left
                  //- p.bd-notification.is-danger Auto
                  h1 Quick Links
                  h2 Recent
                  ol(type='1')
                    each article, slug in public.article._data
                      li
                        a(href="#{ rootPath }/article/#{ slug }") #{ article.title }
                  h2 Tags
                  ol(type='1')
                    li Coming Soon
                  h2 Recommended
                  ol(type='1')
                    li Coming Soon
      //- footer
      footer.footer
        p Copyright #{year}
        p Version #{version}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
      integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
      crossorigin='anonymous')
    script(type='text/javascript' src="#{rootPath}/assets/js/main.js")
