doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title= title
    meta(name='description' content='#{ description }')
    meta(name='keywords' content='blog, web, mobile-friendly, static-page, html5, github-pages')
    meta(name='author' content='#{ author }')
    //- meta(property='og:title' content='JCC Blog')
    meta(property='og:image' content='https://jcchikikomori.github.io/portfolio/img/jcc_logo.jpg')
    meta(property='og:url' content='https://jcchikikomori.github.io/blog')
    meta(property='og:site_name' content='#{ title }')
    meta(property='og:description' content='#{ description }')
    //- meta(name='twitter:title' content="JCC Blog")
    meta(name='twitter:image' content='https://jcchikikomori.github.io/portfolio/img/jcc_logo.jpg')
    meta(name='twitter:url' content='https://jcchikikomori.github.io/blog')
    meta(name='twitter:card' content='blog')
    //- TODO: Migrate to jsdelivr.com
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
        integrity='sha512-UDJtJXfzfsiPPgnI5S1000FPLBHMhvzAMX15I+qG2E2OAzC9P1JzUwJOfnypXiOH7MRPaqzhPbBGDNNj7zBfoA==' crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
        integrity='sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==' crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
      integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="#{rootPath}/assets/scss/bulma-prefers-dark.css")
    link(rel="stylesheet" href="#{rootPath}/assets/scss/main.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
      integrity="sha256-UDtbUHqpVVfXmdJcQVU/bfDEr9xldf3Dbd0ShD0Uf/Y=" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma-prefers-dark@0.1.0-beta.1/css/bulma-prefers-dark.css"
      integrity="sha256-wQI3d0fArzMuGDTXVXZ+fCbB7NBZM+HRpD2My85B3PQ=" crossorigin="anonymous")
  body
    .loading
    //- navigation
    != partial("_shared/nav")
    //- container
    .container.is-fullhd
      //- jumbotron (TODO: Not yet done though)
      != partial("_shared/maintenance")
    //- container
    .container.primary
      .columns.m-0
        .column
          //- p.bd-notification.is-danger Second column
          .columns
            .column
              //- p.bd-notification.is-danger 50%
              //- article content
              section.section
                .container.article-container.is-full-hd
                  .content.article-content
                    if !imported
                      h1 #{content_title}
                    if content_date && content_time
                      p Published at #{content_date}, #{content_time}
                      hr
                    if description && !imported
                      p #{description}
                    != yield
            .column.is-one-quarter.is-mobile
              section.section
                .content.has-text-left
                  //- p.bd-notification.is-danger Auto
                  //- h1 Quick Links
                  h2 Recent
                  ol(type='1')
                    - var count = 0
                    - var seeMore = false
                    each article, slug in public.article._data
                      if (count < 3)
                        - count++
                        li
                          a(href="#{ rootPath }/article/#{ slug }") #{ article.content_title }
                          //- p.
                          //-   Published #{ article.content_date }, #{ article.content_time }
                          //-   (#{ time_format })
                      else
                        if !seeMore
                          - seeMore = true
                          br
                          a(href="#{ rootPath }/articles") See more..
                  //- h2 Tags
                  //- ol(type='1')
                  //-   li Coming Soon
                  //- h2 Recommended
                  //- ol(type='1')
                  //-   li Coming Soon
    //- footer
    footer.footer
      .container
        p Copyright #{year}
        p Version #{version}
    //- script(type='text/javascript' src="#{rootPath}/assets/js/bulma.js") // Conflict with JQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'
      integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=='
      crossorigin='anonymous')
    script(type='text/javascript' src="#{rootPath}/assets/js/main.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-53297367-3")

